:root{
  --color1: black;
  --colorBackgroundForm: #26282c;
  --colorTh:rgba(40, 40, 40, 1);
  --colorTbody:#373636;
  --colorHover:#4d3e3e;
  --colorBorder:#59585b;
  --colorText: #ddd;
  --colorTfoot: #4d3e3e;
  --colorbar: #8754de;
  --colorTextBar: greenyellow;
  --colorBackgroundBar: #222222;
}

* {
  box-sizing: border-box;
}

body {
  background-color:var(--color1);
  font:normal 20px/1.5 sans-serif;
  color: var(--colorText);
  background-image: url("7jSe14i.jpeg");
}

h2 {
  margin: 1rem 2rem;
}

form {
  margin: 2rem;
  width: auto;
}

button {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 0.8rem 1.4rem;
  background-color: var(--colorText);
  border: 1px solid var(--colorBorder);
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

button:focus-visible {
  box-shadow: var(--colorBorder) 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: var(--colorBorder);
  transform: scale(.96);
}

button:disabled {
  background-color: var(--colorBorder);
  border-color: var(--colorBorder);
  color: var(--colorText);
  cursor: not-allowed;
}

.overlay{
  display: flex;
  justify-content: center;
  width:100%;
  height:100%;
  margin: 0;
}

/* login-page--center */
.loginPageCenter{
  text-align: center;
  padding: 2rem;
  width: 30rem;
  height: 20rem;
  margin: auto;
  border: 2px solid var(--colorBorder);
  border-radius: 1.25rem;
  background-color: var(--colorBackgroundForm);
  display: flex;
  align-content: center;
}

.divLogin{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#inputId{
  width: 18rem;
  height: 2rem;
}

.divLoginButton{
  margin-top: 2rem;
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Inizio pagina rimborsi */
.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#leftSide {
  width: 35%;
  padding: 1rem;
  height:fit-content;
  background-color: var(--colorBackgroundForm);
  border: 3px solid var(--colorBorder);
  border-radius: 1.25rem;
}

.formBox{
  padding: 2rem;
}

.formBox input {
  font-size: 1rem;
  width: 300px;
  padding: 0.3rem 1rem;
  text-align: center;
}

input:disabled {
  background-color: var(--colorBorder);
  border-color: var(--colorBorder);
  color: var(--colorText);
}

.formBox select,
.formBox option {
  font-size: 1rem;
  width: 18.75rem;
  padding: 0.3rem 1rem;
  text-align: center;
}

.formBox label{
  float: left;
  width: 6.25rem;
  margin-right: 1.25rem;
}

.formBox button{    
  margin: 1rem 0.5rem;
  padding: 0.75rem 1.5rem;
}

.divButton{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  margin: auto;
}

#rightSide{
  width: 65%;
  padding: 1rem;
  height: 100%;
}

.divTableChange {
  position: sticky;
  top: 20%;
  width: 6%;
}

#buttonSizeTable{
  padding: 0.6rem 1rem;
  margin-bottom: 3rem;
  margin-top: 10rem;
}

#buttonSubmitAll{
  padding: 1rem;
  width: 7rem;
  display: none;
  margin-bottom: 3rem;
}

#buttonLoad {
  padding: 1rem;
}

/* TABLE  */
#tableForm {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table{
  width: 90%;
  float: right;
}

tr {
  border-bottom: 1px solid var(--colorBorder)9;
  height: 50px;
}

th{
  background-color: var(--colorTh);
}

tbody > tr {
  background-color: var(--colorTbody);
} 

tfoot > tr{
  background-color: var(--colorTfoot);
  width: fit-content;
}

tbody > tr:hover td {
  background-color: var(--colorHover);
}

.deleteRow{ 
  padding: 0.6rem 1rem;
}

#divProgressBar{
  display: none;
  margin-top: 3rem;
  height: 5rem;
  width: 90%;
  float:right;
  color: var(--colorText);
  border: 3px solid var(--colorBorder);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--colorBackgroundForm);

}

#progressBar{
  border: 2px solid var(--colorBorder);
  border-bottom: 5px solid var(--colorBorder);
  height: 3rem;
  background-color: var(--colorBackgroundBar);
}

#progressBarInside{
  width: 20%;
  height: 2.56rem;
  text-align: center;
  padding-top: 0.38rem;
  background-color: var(--colorbar);
  color: var(--colorTextBar);
  overflow-x: visible;
  white-space: nowrap;
}

#progressStart{
  float: left;
  padding-left: 0.5rem;
}

#progressEnd{
  float: right;
  padding-right: 0.5rem;
}


@media screen and (max-width: 62rem) {
  form {
    margin: 2rem 0.5rem;
  }
  
  .overlay > .loginPageCenter {
    margin: auto;
  }

  #leftSide {
    width: 100%;
  }
  
  #formUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .formBox{
    padding: 1rem 0rem;
    margin: 0.2rem 1rem;
  }  

  .formBox input,
  .formBox select {    
    width: 12rem;
  }

  .formBox label{
    margin-bottom: 0.3rem;
  }
  
  .formBox button{    
    margin: 1rem 1.3rem;
  }

  #inputRicevuta{
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .divButton{
    margin-top: 1rem;
    width: 19rem;
    flex-basis: 100%;
  }

  #rightSide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem 0px;
  }

  .table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: .01%;
  }

  .divTableChange{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  #buttonSizeTable{
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 7rem;
    height: 5rem;
  }
  
  #buttonSubmitAll{
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 5rem;
    min-width: 7rem;
  }
  
  #buttonLoad{
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-width: 7rem;
    height: 5rem;
  }

  #divProgressBar{
    width: 100%;
  }
}

/* Molte regole sono definite in max width 60rem */
@media screen and (max-width: 38rem) {
  .loginPageCenter{
    width: 95%;
  }
  .divLoginButton button{
    padding: 1rem 1.7rem !important;
  }

  #role {
    width: 100%;
    margin-bottom: 2rem;
  }

  #inputId {
    width: 15rem;
    height: 2.5rem;
  }

  .flexbox{
    width: 95vw;
  }

  /* Posso cambiare height */
  #leftSide {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .formBox{
    text-align: center;
  }  
  
  .formBox button{    
    margin: 1rem 0.5rem;
    height: 4rem;
    min-width: 7rem;
  }

  .formBox input,
  .formBox select {    
    width: 15rem;
    padding: 0.5rem;
  }

  .formBox label {
    float: unset;
    width: 100%;
  }
}

@media print {
  body {
    color: black;
  }
  #leftSide,
  #inputFilter,
  #inputTypeFilter,
  .divTableChange,
  .deleteRow {
    display: none;
  }
  #rightSide,
  #tableForm {
    width: 100%;
  }
  .table,
  #divProgressBar{
    float:none;
    width: 100%;
  }
}