/* Galaxy fold da fare <300 width */
:root{
  --color1: black;
  --colorBackgroundForm: rgba(40, 40, 40, 0.66);
  --colorTh:rgba(40, 40, 40, 0.66);
  --colorTbody:rgb(51, 51, 51);
  --colorHover:#4d3e3e;
  --colorBorder:rgba(80, 80, 80, 1);
  --colorText: #ddd;
  --colorTfoot: #4d3e3e8e;
}

* {
  box-sizing: border-box;
}

body {
  background-color:var(--color1);
  font:normal 20px/1.5 sans-serif;
  color: var(--colorText);
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin: 1rem 2rem;
}

form {
  margin: 2rem;
  width: auto;
}

.login {
  width: fit-content;
}

.center{
  text-align: center;
  position: absolute;
  top: 40%;
  width: 30rem;
  margin: auto;
}

.overlay{
  position:fixed;
  width:100%;
  height:100%;
}

#leftSide {
  width: 40%;
  padding: 15px;
  height:fit-content;
  background-color: var(--colorBackgroundForm);
  border: 3px solid var(--colorBorder);
  border-radius: 20px;
}

#rightSide{
  width: 60%;
  padding: 1rem;
  height: 100%;
}

.tableChange {
  position: sticky;
  top: 20%;
  width: 6%;
}

#buttonSizeTable{
  padding: 0.6rem 1rem;
  margin-bottom: 3rem;
  margin-top: 10rem;
}

#buttonSubmitAll{
  padding: 1rem;
  width: 7rem;
  display: none;
  margin-bottom: 3rem;
}

#buttonLoad {
  padding: 1rem;
}

.deleteRow{ 
  padding: 0.6rem 1rem;
}

/* TABLE  */
#tableForm {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table{
  width: 90%;
  float: right;
}

tr {
  border-bottom: 1px solid var(--colorBorder)9;
  height: 50px;
}

th{
  background-color: var(--colorTh);
}

tbody > tr {
  background-color: var(--colorTbody);
} 

tfoot > tr{
  background-color: var(--colorTfoot);
  width: fit-content;
}

tbody > tr:hover td {
  background-color: var(--colorHover);
}

.formBox{
  padding: 1rem;
  clear: both;
  position: relative;
}

.formBox input {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}

input:disabled {
  background-color: var(--colorBorder);
  border-color: var(--colorBorder);
  color: var(--colorText);
}

.formBox select {
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}

.formBox option{
  font-size: 1rem;
  width: 300px;
  padding: 0.25rem 1rem;
}

.formBox label{
  font-size: 1rem;
  float: left;
  width: 100px;
  margin-right: 20px;
}

.formBox button{    
  margin: 1rem 2.5rem;
}

.divButton{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: auto;
}

button {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 13px 23px;
  background-color: var(--colorText);
  border: 1px solid var(--colorBorder);
  cursor: pointer;
  border-radius: 8px;
  display: inline-block;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

button:focus-visible {
  box-shadow: var(--colorBorder) 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: var(--colorBorder);
  transform: scale(.96);
}

button:disabled {
  background-color: var(--colorBorder);
  border-color: var(--colorBorder);
  color: var(--colorText);
  cursor: not-allowed;
}

@media screen and (max-width: 992px) {
  .flexbox{
    width: 97vw;
  }

  #leftSide {
    width: 100%;
    height: fit-content;
    padding: 5px 3px;
    overflow: hidden;
  }
  
  form {
    margin: 2rem 0.5rem;
    width: auto;
  }

  #formUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .divButton{
    flex-basis: 100%;
  }
  
  .formBox{
    padding: 1rem 0rem;
    margin: 0.2rem 1rem;
  }  
  
  .formBox input {
    width: 11rem;
  }
  
  .formBox select {
    width: 11rem;
  }
  
  .formBox option{
    width: 11rem;
  }
  
  .formBox label{
    margin-right: 5px;
  }
  
  .formBox button{    
    margin: 1rem 1.3rem;
  }
  
  .divButton{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 19rem;
    justify-content: space-around; 
    margin: auto;
  }
  
  .tableChange{
    top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  #buttonSizeTable{
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 7rem;
    height: 5rem;
  }
  
  #buttonSubmitAll{
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 5rem;
  }
  
  #buttonLoad{
    margin-top: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 7rem;
    height: 5rem;
  }

  #rightSide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
  }

  .table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: .01%;
  }
}


@media screen and (max-width: 600px) {
  .flexbox{
    width: 95vw;
  }

  #formUser{
    display: flex; 
  }

  .center{
    width: 21rem;
    margin-left: 1rem;
  }

  form {
    width: auto;
  }

  .formBox > .login {
    margin: 4rem 1.7rem;
  }

  /* perché?! overflow y su iPhoneSE */
  #leftSide {
    width: 100%;
    height: 100%;
    padding: 5px 3px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .formBox{
    padding: 1rem 0rem;
    margin: auto;
  }  
  
  .formBox input {
    width: 11rem;
  }
  
  .formBox select {
    width: 11rem;
  }
  
  .formBox option{
    width: 11rem;
  }
  
  .formBox label{
    margin-right: 5px;
  }
  
  .formBox button{    
    margin: 1rem 0.5rem;
  }
  
  .tableChange{
    top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  

  #rightSide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
  }

  .divButton{
    display: flex;
    flex-wrap: wrap;
    width: 19rem;
    margin-top: 1rem;
    justify-content: space-around; 
    margin: auto;
  }

  .table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    min-height: .01%;
  }
}

@media print {
  body {
    color: black;
  }
  #leftSide,
  #inputFilter,
  #inputTypeFilter,
  .tableChange,
  .deleteRow {
    display: none;
  }
  #rightSide,
  #tableForm {
    width: 100%;
  }
}