.divLogin {
	flex-basis: 100%;
	text-align: center;
}

.divLogin > * {
	flex-basis: 100%;
	text-align: center;
}

.divLogin {
	width: 30%;
	height: fit-content;
	background-color: var(--colorBackgroundForm);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
	margin-top: 10%;
	border-radius: 1rem;
	border: 3px solid var(--colorBorder);
}

.inputUsername {
	width: 200px;
	font-size: 1rem;
	padding: 0.3rem 1rem;
	text-align: center;
}

.inputLogin {
	padding: 1.5rem;
	margin: auto;
}

.inputLogin label {
	float: left;
	width: 6.25rem;
	margin-right: 1.25rem;
}

.inputLogin input {
	font-size: 1rem;
	width: 200px;
	padding: 0.3rem 1rem;
	text-align: center;
}

.loginBtn {
    flex-basis: 85%;
    border-radius: 15px;
    margin-top: 1rem;
}